/* tells every element on the page to not have any margin or border unless we explicitly tell it to */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font */
    color: #003B00;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; */
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    /* vampire black */
    background-color: #0D0208;
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: #00FF41;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #00FF41;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

/* navigation words on the top-right */
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 22px;
}


/* main body, encompasses all the sections */
main {
    /* background-image: url("./images/hero-bg1.png"); */
}


/* Hero Style Start */
.hero {
    background-image: url("./images/hero-bg1.png");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

/* Photo Style Start */
.hero-pic {
    background-image: url("./images/selfie.jpeg");
    width: 220px;
    min-height: 330px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;

    border-style: solid;
    border-width: 3px;
    border-color: #024e76;

    /* where the picture appears in the hero section */
    position: absolute;
    bottom: 120px;
    right: 140px;
}
/* Photo style end */


/* About me style start */
.intro {
    /* text-align: center; */
}

.intro h2 {
    font-size: ;
    color: ;
    margin-bottom: 25px;
    padding: 0 100px 20px 0px;
    border-bottom: 2px solid;
    border-color: #00B300;
}

.intro p {
    line-height: 1.7;
    color: ;
    font-size: 20px;
}


/* footer */
footer {
    background: #008F11;
    color: #0D0208;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    font-size: 30px;
    margin: 0;
}

footer div {
    font-size: 24px;
    float: right;
}

/* this will give all the sections a consistent look */
section {
    padding: 75px;
}