/* tells every element on the page to not have any margin or border unless we explicitly tell it to */
* {
    margin: 0;
    padding: 0;
}

body {
    /* font */
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: Lato, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; */
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: black;
}

header h1 {
    font-weight: lighter;
    font-size: 36px;
    color: whitesmoke;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

/* navigation words on the top-right */
header nav ul li a {
    margin: 0 30px;
    font-weight: normal;
    font-size: 22px;
}

